<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Francis' URL Shortner</h1>
    <form action="">
        <label for="url">URL</label>
        <input type="text" id="url">
        <button type="submit"><<>></button>
    </form>
    <table>
        <thead>
            <th>Full Url</th>
            <th>Shortened Url</th>
            <th>Full Url</th>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</body>
</html>